<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LaBHs - Regressão</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>Regressão</h1>

    <p>
        Ok, ok, vamos voltar ao seu passado. Feche bem os olhos e esvazie a sua mente... hum... ahn... que????
    </p>

    <p>
        Calma gente que eu acho que estamos indo no caminho errado. Não era bem desse tipo de regressão que eu queria falar. Vamos de novo. =D
    </p>

    <p>
        E ai galera, só de bobs? 
    </p>

    <p>
        Hoje estou aqui pra mostrar pra vocês um conceito muito legal de estatística que amplia os nossos poderes "de grayskull!!!", 
        opa, poderes errados... amplia os nossos poderes de previsão e estimativa, a Regressão.
    </p>

    <p>
        A Regressão é uma técnica que utiliza a relação matemática entre duas variáveis para prever o valor de uma a partir da outra.
    </p>

    <p>
        Mas como assim relação entre variáveis? Já jogaram sinuca, certo? Vou considerar que já porque senão jogaram não estão vivendo a vida certo oO...
        Quando vocês miram o bolão em um local, vocês estão criando uma relação entre posição no bolão e a direção que vocês querem que ele vá.
        É como se empurrar em uma cadeira de rodinhas. Você impulsiona na direção que quer ir e "só vai =D", ou seja, você cria uma relação entre
        direção e sentido. É desse tipo de relação que eu estou falando.
    </p>

    <p>
        A regressão utiliza do mesmo princípio. Ela estabelece relação entre duas variáveis e quanto maior for essa relação, maior será a sua 
        precisão. Quanto mais relacionadas estão as variáveis, mais forte vai ser a declaração de amor delas no facebook, =D... bom...
        talvez não tão forte assim porque nada é mais forte do que declaração de amor no facebook, mas eu acho que vocês pegaram a ideia.
    </p>

    <p>
        Relação muito forte => Previsão/Estimativa certeira =D
    </p>
    
    <img src='/static/gif/ml/regression/hit.webp' width="480" height="270"/>
    <img src='/static/gif/ml/regression/hit2.webp'/>

    <p>
        É tipo isso:
    </p>

    <img src='/static/gif/ml/regression/sinuca.webp'/>
    <img src='/static/gif/ml/regression/sinuca2.webp' width="310" height="174"/>

    <p>
        Nesse exemplo, a relação entre o local onde você acerta a bola e a direção que ela vai é tão forte que é possível prever exatamente onde ela vai passar e
        a Regressão faz exatamente a mesma coisa para conseguir prever ou estimar (previsão é coisa de cartomante?!?!) o valor de uma variável
        com base em outra.
    </p>

    <p>
        Na cadeira também:
    </p>

    <img src='/static/gif/ml/regression/chair3.webp'width="300" height="168"/>
    <img src='/static/gif/ml/regression/chair1.gif'/>
    <img src='/static/gif/ml/regression/chair2.gif' width="300" height="168"/>    

    <p>
        É bem melhor do que aplicar uma média simples e está um passo de antes do famoso machine learning. Legal "pa carai" =D...
    </p>

    <p>
        Vamos ver isso funcionando? O que acham? Vou deixar aqui 3 links com exemplos práticos de Regressão para 
        quem quiser conferir e por hoje é só pessoal =D.
    </p>

    <p>
        <a href="/ml/regression/simple_linear_regression">Regressão Linear Simples</a>
    </p>
    <p>
        <a href="/ml/regression/polynomial_regression">Regressão Polinomial</a>
    </p>
    <p>
        <a href="/ml/regression/logistic_regression">Regressão Logística</a>
    </p>

    <p>
        Valeu, flw... fui. =P
    </p>    

    <img src='/static/gif/ml/regression/chairmith.gif'/>

</body>
</html>